

  body, p, h3{
    font-family: MyWebfont, Verdana, sans-serif;
    text-rendering: optimizeLegibility;
    }

    img{
      margin-left: 42%;
      margin-bottom: 5%;
      margin-top: -7%;
      position: fixed;
    }

    header {
      height: 10%;

    }

    .naviInline, .naviItem, .naviListe{
      display: inline-block;
      list-style: none;
      margin-top: -0.007%;

    }

    .naviItem {
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 12%;
      font-size: 1rem;


    }
    a{
      text-decoration: none;
      font-size: 1rem;
    }

    .naviItem:hover{
      text-decoration: overline;
    }

    .naviInline{
        width: 100%;
        margin-top: -2%;
    }

    .naviListe{
        width: 96.8%;
    }

    #wrapper{
      border-top: solid;
      margin-top: 4%;
      width: 100%;
      height: 10%;
      margin-top: 10%;
    }

    #buttonAnmelden{
      background-color: #95A844;
      border: none;
      padding: 0.5%;
      margin-left: 1%;
      font-size: 75%;
      color: white;
    }

    form, input{
      font-size: 75%;
      margin-top: 2%;
    }




