<head>

<title>
Willkommen bei den ReDS!
</title>

</head>


<body>

  <header>
    <img id="pictureOne" src="assets/images/icon.jpg">
    <h2>Womit möchten Sie uns beauftragen? </h2>
  </header>

  <img id="pictureTwo" src="assets/images/icon2.png">


<div id = "aufträge">

<form>

<button type="button" id="auftrag1" routerLink="/job-admission-component" routerLinkActive="active"><h5>Sourcing</h5></button>
<button type="button" id="auftrag2" routerLink="/job-admission-component" routerLinkActive="active"><h5>Marktanalyse</h5></button>
<button type="button" id="auftrag3" routerLink="/job-admission-component" routerLinkActive="active"><h5>Schulung</h5></button>

</form>
</div>

</body>
